@font-face {
	font-family: 'Apercu';
	src: url('Apercu-Light.eot');
	src: url('Apercu-Light.eot?#iefix') format('embedded-opentype'),
		url('Apercu-Light.woff') format('woff'),
		url('Apercu-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Apercu';
	src: url('Apercu-Regular.eot');
	src: url('Apercu-Regular.eot?#iefix') format('embedded-opentype'),
		url('Apercu-Regular.woff') format('woff'),
		url('Apercu-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
  width: 70%;
  margin: 0 auto;
  height: 300px;
  font-family: 'Apercu'

}

div.line1 {
  width:100%;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.line {
  line-height: 1px;
}

.line1 {
  line-height: 2px;
}

.line2 {
  line-height: 4px;
}

.line5 {
  text-align: center;
}

.center {
  text-align: center;

}
.rightTop {
  float: right;
  font-size: 30px;
  margin-left: 10%;
  margin-top: -10%;

}
.leftTop {
  float: left;
  font-size: 30px;
  margin-right: 10%;
  margin-top: -10%;
}

div h1 {
  text-align: center;
}

.main {
  width: 50%;
  margin: 0 auto;
  margin-top: 20%;
}

.leftSide {
  float: left;
  font-size: 40px;
  font-family: 'Apercu'
  font-weight: normal;
  margin-top: -42%;
  margin-left: -2%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);

}

.rightSide {
  float: right;
  font-size: 40px;
  margin-right: -9%;
  margin-top: -42%;
  -webkit-transform: rotate(-270deg);
  -moz-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
  -o-transform: rotate(-270deg);
}

.bottomLeft {
  float: left;
  font-size: 20px;
  margin-top: 10%;

  padding: 30px 30px 30px 30px;
  border: 4px solid black;
}
.bottomRight {
  float: right;
  font-size: 20px;

  margin-top: 14%;
}
