body {
        width: 40%;
        margin: 0 auto;
        margin-top: 250px;
}

.farLeft {
    
        float: left;
        width: 20%;
    text-align: center;
    margin-top: 20px;
    border-right: 1px solid black;
    height: 30vw;
    line-height: 25vw;
    
    
    
}

.middle {
        float: left;
        width: 35%;
    text-align: center;
    margin-left: 30px;
    border-right: 1px solid black;
    margin-top: 20px;
    height: 30vw;
}

.observation {
            margin-top: 120px;
}

.emotional {margin-top:350px;}

.farRight {
        float: left;
        width:30%;
    line-height: 2vw;
    margin-left: 30px;
}

.bottomRight {
    margin-top:180px;
}