body
{
    width: 100%;
    font-family: Futura;

}

.margin {
    text-align: left;
    width: 100%;


}

.title p {
    font-size: 4vw;
    width: 100%;
    text-align: left;
}

h4 {
    text-align: left;
    width: 100%;

    font-size: 2em;
}


.step1 {

    width: 300px;
    height: 50px;

}

.step1 h1 {
    float: left;
    font-size: 24px;

}

.step1  h2 {
    float: left;
    text-align: right;


}

.step1 p {
    float: right;

    text-align: right;
    font-size: 1vw;


}

.step2 {
    margin-left:13vw;
    width: 150%;
    float: left;
    margin-top: -9.8vw;
}

.step2 h1 {
    float: left;
    margin-left: 1.7vw;

}

.step2 h2 {
    float: left;
    margin-left: 1vw;
}

.step2 p {
    float: left;
    text-align: left;
    margin-left: 1vw;
    margin-top: .1vw;
}

.step3 {
    margin-left: 30vw;
    float: left;

    width: 220%;
}

.step3 h1 {
    float: left;
    margin-top: -25.5vw;
    font-size: 23vw;
    margin-left: -2vw;

}

.step3 h2 {
    float: right;
    margin-top: -18vw;
}

.step3 p {
    float: right;
    margin-top: -16vw;
}

.step4 {
    margin-left: 60vw;
    width: 250%;
}

.step4 h1 {
    float: left;
    font-size: 12vw;
    margin-top: -13.7vw;

}

.step4 h2 {
    float: left;
    margin-top: -11vw;
    margin-left: 1vw;
}

.step4 p {
    float: left;
    text-align: left;
    margin-right: 2vw;
    margin-top: -9vw;
    margin-left: 1vw;
    width: 50%;

}
