body {
        width: 40%;
        margin: 0 auto;
        margin-top: 200px;

}

.farLeft {

        float: left;
        width: 20%;
    text-align: center;
    margin-top: 20px;
    border-right: 1px solid black;
    height: 600px;

}

.artist {
  margin-top: 250px;
}

h2 {
  margin-left: -100%;
}

.middle {
        float: left;
        width: 35%;

    margin-left: 30px;
    border-right: 1px solid black;
    margin-top: 20px;
    height: 600px;
}

.observation {

            margin-top: 100px;
            margin-left: -4%;
}

.emotional {

  margin-top:280px;
margin-left: 4%;}

.farRight {
        float: left;
        width:30%;

    margin-left: 30px;
    margin-top: 40px;
}

.bottomRight {
    margin-top:180px;
}
