body { width: 50%;
        margin: 0 auto;
        margin-top:150px;}


.farLeft{float: left;
width: 30%;

margin-top: 100px;
position: fixed;}

.farRight {float: right;
width: 70%;
margin-top: 100px;
}


h3 {
  margin-left: 400px;
}

.farRight2 {
    float:right;
}
