body {
  width: 70&;
  margin: 0 auto;
  background-color: rgb(211,82,70);
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

header {
    margin: 15% 10%;
}

h1 {
  display: inline;

}

ul {
  white-space: nowrap;
  float: center;
  width: 35%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  text-align: center;
  margin-bottom: 15%;

}
li {
  white-space: nowrap;
  display: inline-block;
}

li a {
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}


.box1 {
  float: left;
}
.box2 {
  float: left;
}
.box3 {
  float: left;
}
.box4 {
  float: left;
}
.box5 {
  float: left;
}
.box6 {
  float: left;
}
.box7 {
  float: left;
}
.box8 {
  float: left;
}
.box9 {
  float: left;
}
.box10 {
  float: left;
}
.box11 {
  float: left;
}
.box12 {
  float: left;
}
.box13 {
  float: left;
}
.box14 {
  float: left;
}
.box15 {
  float: left;
}
.box16 {
  float: left;
}
.box17 {
  float: left;
}
.box18 {
  float: left;
}
.box19 {
  float: left;
}
.box20 {
  float: left;
}
