body
{
    width: 100%;
    font-family: Futura;


}

.margin {
    text-align: left;
    width: 100%;
    margin-left: 40px;
    margin-top: 40px;


}

.title p {
    font-size: 100px;
    width: 100%;
    text-align: left;
    margin-left: 40px;
}

h4 {
    text-align: right;
    width: 980px;
    margin-top: -100px;
    font-size: 24px;
}


.step1 {
    margin-left: 720px;
    width: 300px;
    height: 100px;
    margin-top: 100px;

}

.step1 h1 {
    width: 100px;
    float: left;
    font-size: 200px;
    margin-top: 30px;


}

.step1  h2 {
  width: 200px;
    float: left;
    text-align: right;
    margin-top: 80px;


}

.step1 p {
    float: right;
    text-align: right;
    font-size: 1vw;


}

.step2 {
    margin-left: 320px;
    margin-top: -250px;
    width: 300px;
    float: left;
    height: 50px;

}

.step2 h1 {
    float: left;
    font-size: 200px;

}

.step2 h2 {
    float: left;
    text-align: center;
    margin-left: -15px;

    margin-top: 85px;

}

.step2 p {
    float: left;
    text-align: left;
    margin-left: 40px;


}

.step3 {
    margin-left:650px;
    float: left;
    width: 550px;
    height: 150px;
}

.step3 h1 {
    float: left;
    margin-top: -320px;
    font-size: 500px;
    margin-left: -15px;

}

.step3 h2 {
    float: right;
    margin-top: -120px;
}

.step3 p {
    float: right;
    margin-top: -50px;
}

.step4 {
    float: left;
    margin-left: 1250px;
    width: 500px;
    height: 100px;
}

.step4 h1 {
    float: left;
    font-size: 350px;
    margin-top: -300px;

}

.step4 h2 {
    float: left;
    text-align: right;
    margin-left: 15px;
    margin-top: -240px;

}

.step4 p {
    float: left;
    text-align: left;
    margin-left: 150px;
    margin-top: -170px;




}
