body {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
}
.margin {
    font-size: 12px;
    font-family: Avenir;
    
}
.box1 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Avenir;
    font-size: 3em;
 
}

.box3 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Avenir;
    font-size: 3em;
    font-weight: bold;
  

}

.box4 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Avenir;
    font-size: 3em;
    font-style: italic;
}

.box5 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: .15vw;
    padding-bottom: .15vw;
    font-family: Avenir;
    font-size: 5em;
    

}

.box6 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Caslon;
    font-size: 3em;


}

.box7 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-family: Caslon;
    font-size: 5em;
    font-weight: bold;

}

.box8 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Caslon;
    font-size: 3em;
    text-transform: uppercase;
    
}

.box9 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Caslon;
    font-size: 3em;
    font-style: italic;
    
}

.box10 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Futura;
    font-size: 3em;
  
}

.box11 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Futura;
    font-size: 3em;
    text-transform: uppercase;
    
}

.box12 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Futura;
    font-size: 3em;
    font-style: italic;
    
  
}

.box13 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: -2vw;
    padding-bottom: -2vw;
    font-family: Futura;
    font-size: 7em;
    
    
    
   
}

.box14 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Georgia;
    font-size: 3em;
    font-style: italic;
    
    
  
}

.box15 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    font-family: Georgia;
    font-size: 3em;
    font-weight: bold;
   
  
}

.box16 {
    width: 100%;
    border-bottom: 1px solid black;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-family: Georgia;
    font-size: 4em;
    text-transform: uppercase
 
}

footer {
    height: 9vw;
}